body{
    background-color: aqua;
    font-family: Forum;
}
footer{
    background-color: rgb(185, 226, 226);
    color: rgb(108, 104, 104);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
        text-align: center;
        font-size: 0.6rem;
        margin-top: 0.5rem;
}