body{
    background-color: aqua;
    font-family: Forum;
}
footer{
    background-color: rgb(104, 119, 119);
    color: rgb(255, 251, 251);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
        text-align: center;
        font-size: 0.8rem;
        margin-top: 0.5rem;
}